# UTF-8
#
VSVersionInfo(
  ffi=FixedFileInfo(
    filevers=({VERSION_MAJOR}, {VERSION_MINOR}, {VERSION_PATCH}, {VERSION_BUILD}),
    prodvers=({VERSION_MAJOR}, {VERSION_MINOR}, {VERSION_PATCH}, {VERSION_BUILD}),
    mask=0x3f,
    flags=0x0,
    OS=0x40004,
    fileType=0x1,
    subtype=0x0,
    date=(0, 0)
  ),
  kids=[
    StringFileInfo(
      [
      StringTable(
        '040904B0',
        [StringStruct(u'CompanyName', u'Relo Software'),
        StringStruct(u'FileDescription', u'Relo Downloader - Advanced Download Manager'),
        StringStruct(u'FileVersion', u'{FULL_VERSION}'),
        StringStruct(u'InternalName', u'ReloDownloader'),
        StringStruct(u'LegalCopyright', u'© {CURRENT_YEAR} Relo Software. All rights reserved.'),
        StringStruct(u'OriginalFilename', u'Relo Downloader.exe'),
        StringStruct(u'ProductName', u'Relo Downloader'),
        StringStruct(u'ProductVersion', u'{FULL_VERSION}')])
      ]),
    VarFileInfo([VarStruct(u'Translation', [1033, 1200])])
  ]
)